.nav-styling {
    padding-left: 150px;
    padding-right: 20px;
}

.nav-custom {
    height: 110px;
}

.list-elements {
    margin-left: 300px;

}

.logo {
    position: absolute;
    z-index: 1;
    left: 80px;
}

#logoImage {
    padding-top: 10px;
}

#nav {
    margin-bottom: 10px;
    background-color: #043927;
}

.user {
    position: absolute;
    right: 0px;
}

#user-name {
    color: #c5b47c;
}